/*html {*/
/*    padding: 50px 200px;*/
/*}*/

html, body {
    widt:100%;
    font-family: Roboto, "Open Sans"!important;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
/*.multiline {*/
/*    background-color: aquamarine;*/
/*}*/

/*.radar {*/
/*    background-color: aqua;*/
/*}*/

/*.scatter{*/
/*    background-color: #faa8ff;*/
/*}*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  padding: 20px 0;
}

.scatter {
  grid-column: 1 / span 2;
}


svg {
  width: 100%
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    cursor: default;
    background-color:#F6F0ED;
}

#sidebarCollapse {
    background-color: #9E3061;
}
#sidebarCollapse:hover {
    background-color: #89023E;
}

.containerButton {
    width:200px;
}

.slidecontainer p {
    margin:0;
}
.slidecontainer input {
    margin-bottom:-5px;
}

.slidecontainer {
    flex:1;
}

#topbar {
    width:100%;
    height:50px;
    display:flex;
    margin-top:5px;
    align-items: center;
}

#content {
    width:100%;
}

.grid-container {
    /*height: calc(100vh - 55px);*/
    width:80%;
    margin:0 auto;
}

.scatter {
    height:100%;
    overflow: hidden;
}

.multiline, .radar {
    overflow: hidden;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;

}

/*Information tab*/
#homeSubmenu {
    text-align:left;
}

.scatter, .multiline, .radar {
    background: #FCFAFA;
    border-radius: 2px;
}

/*Drop shadow containers*/
.scatter, .multiline, .radar {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*p {*/
/*    text-align: left;*/
/*}*/

/*.legend {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    fill: #333333;*/
/*}*/

/*.tooltip {*/
/*    fill: #333333;*/
/*}*/

/*!* Mulitiline *!*/
/*.line {*/
/*  stroke-width: 2;*/
/*  fill: none;*/
/*}*/

/*.axis path {*/
/*  stroke: black;*/
/*}*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    /*max-height:100vh;*/
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 400px;
    max-width: 400px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -400px;
}

/*Styling dropdowns*/
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



/*selected page*/
.pagenow {
    background: #902C59;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #9E3061;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #89023E;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #9E3061;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #89023E;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #9E3061;
}

#content {
    /*height: 100vh;*/
    overflow:hidden;
}

/*Checkbox css because I can*/
.boxes {
    display:flex;
    flex-direction: column;
    position:absolute;
    top:0;
    right:0;
    padding:20px;
    padding-top:150px;
}
.title {
    display: block;
    margin: 0 0 20px;
    font-size: 24px;
    text-transform: uppercase;
}
.checkbox {
    display: inline-block;
    position: relative;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 24px;
}
.checkbox__input {
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    opacity: 0;
    z-index: 0;
}
.checkbox__label {
    display: block;
    padding: 0 0 0 24px;
    cursor: pointer;
}
.checkbox__label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    z-index: 1;
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border-color;
}
.checkbox__label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 12px;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
    transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__label:before {
    background-color: #3f51b5;
    border-color: #3f51b5;
}
.checkbox__input:checked + .checkbox__label:after {
    border-color: #fff;
}

/*On mobile only appear if clicked on*/
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        min-width:250px;
        max-width:250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    .boxes {

        padding:5px;
        padding-top:75px;
    }
    .checkbox__label {
        font-size:12px;
    }
}


/*Slider CSS here we go*/
.slidecontainer {
    max-width:100%;
    min-width: 80%;
    margin:0 auto;
}

.pure-material-slider {
    --pure-material-safari-helper1: rgba(
            var(--pure-material-primary-rgb, 158,48,97),
            0.04
    );
    --pure-material-safari-helper2: rgba(
            var(--pure-material-primary-rgb, 158,48,97),
            0.12
    );
    --pure-material-safari-helper3: rgba(
            var(--pure-material-primary-rgb, 158,48,97),
            0.16
    );
    --pure-material-safari-helper4: rgba(
            var(--pure-material-primary-rgb, 158,48,97),
            0.24
    );
    display: inline-block;
    width: 200px;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(
            --pure-material-font,
            "Roboto",
            'Segoe UI'
    );
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.pure-material-slider > input {
    -webkit-appearance: none;
    position: relative;
    top: 24px;
    display: block;
    margin: 0 0 -36px;
    width: 100%;
    height: 36px;
    background-color: transparent;
    cursor: pointer;
}

/* Without Span */
.pure-material-slider > input:last-child {
    position: static;
    margin: 0;
}

/* Span */
.pure-material-slider > span {
    display: inline-block;
    margin-bottom: 36px;
}

/* Focus */
.pure-material-slider > input:focus {
    outline: none;
}

/* Disabled */
.pure-material-slider > input:disabled {
    cursor: default;
    opacity: 0.38;
}

.pure-material-slider > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

/* Webkit | Track */
.pure-material-slider > input::-webkit-slider-runnable-track {
    margin: 17px 0;
    border-radius: 1px;
    width: 100%;
    height: 2px;
    background-color: rgba(var(--pure-material-primary-rgb, 158,48,97), 0.24);
}

/* Webkit | Thumb */
.pure-material-slider > input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    background-color: rgb(var(--pure-material-primary-rgb, 158,48,97));
    transform: scale(6, 6);
    transition: box-shadow 0.2s;
}

/* Webkit | Hover, Focus */
.pure-material-slider:hover > input::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px var(--pure-material-safari-helper1);
}

.pure-material-slider > input:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px var(--pure-material-safari-helper2);
}

.pure-material-slider:hover > input:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px var(--pure-material-safari-helper3);
}

/* Webkit | Active */
.pure-material-slider > input:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px var(--pure-material-safari-helper4) !important;
}

/* Webkit | Disabled */
.pure-material-slider > input:disabled::-webkit-slider-runnable-track {
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-slider > input:disabled::-webkit-slider-thumb {
    background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
    color: rgb(var(--pure-material-surface-rgb, 255, 255, 255)); /* Safari */
    box-shadow: 0 0 0 1px rgb(var(--pure-material-surface-rgb, 255, 255, 255)) !important;
    transform: scale(4, 4);
}

/* Moz | Track */
.pure-material-slider > input::-moz-range-track {
    margin: 17px 0;
    border-radius: 1px;
    width: 100%;
    height: 2px;
    background-color: rgba(var(--pure-material-primary-rgb, 158,48,97), 0.24);
}

/* Moz | Thumb */
.pure-material-slider > input::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    background-color: rgb(var(--pure-material-primary-rgb, 158,48,97));
    transform: scale(6, 6);
    transition: box-shadow 0.2s;
}

/* Moz | Progress */
.pure-material-slider > input::-moz-range-progress {
    border-radius: 1px;
    height: 2px;
    background-color: rgb(var(--pure-material-primary-rgb, 158,48,97));
}

/* Moz | Hover, Focus */
.pure-material-slider:hover > input:hover::-moz-range-thumb {
    box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 158,48,97), 0.04);
}

.pure-material-slider > input:focus::-moz-range-thumb {
    box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 158,48,97), 0.12);
}

.pure-material-slider:hover > input:focus::-moz-range-thumb {
    box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 158,48,97), 0.16);
}

/* Moz | Active */
.pure-material-slider > input:active::-moz-range-thumb {
    box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 158,48,97), 0.24) !important;
}

/* Moz | Disabled */
.pure-material-slider > input:disabled::-moz-range-track {
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-slider > input:disabled::-moz-range-progress {
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
}

.pure-material-slider > input:disabled::-moz-range-thumb {
    background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
    box-shadow: 0 0 0 1px rgb(var(--pure-material-surface-rgb, 255, 255, 255)) !important;
    transform: scale(4, 4);
}

.pure-material-slider > input::-moz-focus-outer {
    border: none;
}

/* MS | Track */
.pure-material-slider > input::-ms-track {
    box-sizing: border-box;
    margin: 17px 0;
    border: none;
    border-radius: 1px;
    padding: 0 17px;
    width: 100%;
    height: 2px;
    background-color: transparent;
}

.pure-material-slider > input::-ms-fill-lower {
    border-radius: 1px;
    height: 2px;
    background-color: rgb(var(--pure-material-primary-rgb, 158,48,97));
}

/* MS | Progress */
.pure-material-slider > input::-ms-fill-upper {
    border-radius: 1px;
    height: 2px;
    background-color: rgba(var(--pure-material-primary-rgb, 158,48,97), 0.24);
}

/* MS | Thumb */
.pure-material-slider > input::-ms-thumb {
    appearance: none;
    margin: 0 17px;
    border: none;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    background-color: rgb(var(--pure-material-primary-rgb, 158,48,97));
    transform: scale(6, 6);
    transition: box-shadow 0.2s;
}

/* MS | Hover, Focus */
.pure-material-slider:hover > input::-ms-thumb {
    box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 158,48,97), 0.04);
}

.pure-material-slider > input:focus::-ms-thumb {
    box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 158,48,97), 0.12);
}

.pure-material-slider:hover > input:focus::-ms-thumb {
    box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 158,48,97), 0.16);
}

/* MS | Active */
.pure-material-slider > input:active::-ms-thumb {
    box-shadow: 0 0 0 2px
    rgba(var(--pure-material-primary-rgb, 158,48,97), 0.24) !important;
}

/* MS | Disabled */
.pure-material-slider > input:disabled::-ms-fill-lower {
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-slider > input:disabled::-ms-fill-upper {
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    opacity: 0.38;
}

.pure-material-slider > input:disabled::-ms-thumb {
    background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
    box-shadow: 0 0 0 1px rgb(var(--pure-material-surface-rgb, 255, 255, 255)) !important;
    transform: scale(4, 4);
}