/*html {*/
/*    padding: 50px 200px;*/
/*}*/

html, body {
    widt:100%;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
/*.multiline {*/
/*    background-color: aquamarine;*/
/*}*/

/*.radar {*/
/*    background-color: aqua;*/
/*}*/

/*.scatter{*/
/*    background-color: #faa8ff;*/
/*}*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  padding: 20px 0;
}

.scatter {
  grid-column: 1 / span 2;
}

svg {
  width: 100%
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    cursor: default;
    background-color:#F6F0ED;
}

#sidebarCollapse {
    background-color: #9E3061;
}
#sidebarCollapse:hover {
    background-color: #89023E;
}

.containerButton {
    width:200px;
}

.slidecontainer p {
    margin:0;
}
.slidecontainer input {
    margin-bottom:-5px;
}

.slidecontainer {
    flex:1;
}

#topbar {
    width:100%;
    height:50px;
    display:flex;
    margin-top:5px;
    align-items: center;
}

#content {
    width:100%;
}

.grid-container {
    height: calc(100vh - 55px);
    width:100%;
}

.scatter {
    height:100%;
    overflow: hidden;
}

.multiline, .radar {
    overflow: hidden;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;

}

/*p {*/
/*    text-align: left;*/
/*}*/

/*.legend {*/
/*    font-family: 'Raleway', sans-serif;*/
/*    fill: #333333;*/
/*}*/

/*.tooltip {*/
/*    fill: #333333;*/
/*}*/

/*!* Slider *!*/

/*.slidecontainer {*/
/*  width: 50%;*/
/*}*/

/*.slider {*/
/*  -webkit-appearance: none;*/
/*  width: 100%;*/
/*  height: 25px;*/
/*  background: #d3d3d3;*/
/*  outline: none;*/
/*  opacity: 0.7;*/
/*  -webkit-transition: .2s;*/
/*  transition: opacity .2s;*/
/*}*/

/*.slider:hover {*/
/*  opacity: 1;*/
/*}*/

/*.slider::-webkit-slider-thumb {*/
/*  -webkit-appearance: none;*/
/*  appearance: none;*/
/*  width: 25px;*/
/*  height: 25px;*/
/*  background: #c51b8a;*/
/*  cursor: pointer;*/
/*}*/

/*.slider::-moz-range-thumb {*/
/*  width: 25px;*/
/*  height: 25px;*/
/*  background: #c51b8a;*/
/*  cursor: pointer;*/
/*}*/

/*!* Mulitiline *!*/
/*.line {*/
/*  stroke-width: 2;*/
/*  fill: none;*/
/*}*/

/*.axis path {*/
/*  stroke: black;*/
/*}*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    max-height:100vh;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

/*Styling dropdowns*/
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*On mobile only appear if clicked on*/
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #9E3061;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #89023E;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #9E3061;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #89023E;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #9E3061;
}

#content {
    height: 100vh;
    overflow:hidden;
}
